.section__footer {
   min-width: 100%;
}

.footer__contact {
   display: block;
   min-width: 30%;
   padding: 0.1% 30px;
   padding-left: 1%;
   text-align: justify;
   font-size: 13px;
   color: rgb(221, 221, 221);
   line-height: 0.3;
}

.contact__linkPhone {
   text-decoration: none;
   color: rgb(221, 221, 221);
}

.contact__linkPhone:hover {
   color: rgb(88, 162, 189);
}

.contact__linkPhone:visited {
   color: rgb(219, 55, 18);
}

.contact__linkMailAuthorSite {
   text-decoration: none;
   color: rgb(221, 221, 221);
}

.contact__linkMailAuthorSite:hover {
   color: rgb(88, 162, 189);
}

.contact__linkMailAuthorSite:visited {
   color: rgb(219, 55, 18);
}

.block--colorBackground {
   display: block;
}

.button--colorBackground {
   right: 100px;
   padding: 0.5%;
   margin: 0.5%;
   border-radius: 5px;
   font-size: 10px;
}

.footer__symbolCopyright {
   display: block;
   margin: 1%;
   text-align: center;
   color: white;
   line-height: 2;
   border-top:1px solid  ;
}