.section__footer {
   min-width: 100%;
}

.footer__contact {
   display: block;
   min-width: 30%;
   padding: 0.1% 30px;
   padding-left: 1%;
   text-align: justify;
   font-size: 13px;
   color: rgb(221, 221, 221);
   line-height: 0.3;
}

.footer__contact--phoneAuthorSite {
   text-decoration: none;
   color: rgb(221, 221, 221);
}

.footer__contact--phoneAuthorSite:hover {
   color: rgb(88, 162, 189);
}

.footer__contact--phoneAuthorSite:visited {
   color: rgb(219, 55, 18);
}

.footer__contact--mailAuthorSite {
   text-decoration: none;
   color: rgb(221, 221, 221);
}

.footer__contact--mailAuthorSite:hover {
   color: rgb(88, 162, 189);
}

.footer__contact--mailAuthorSite:visited {
   color: rgb(219, 55, 18);
}

.block--colorBackground {
   display: block;
}

.button--colorBackground {
   right: 100px;
   padding: 0.5%;
   margin: 0.5%;
   border-radius: 5px;
   font-size: 10px;
}

.footer__symbolCopyright {
   display: block;
   margin: 1%;
   text-align: center;
   color: white;
   line-height: 2;
   border-top:1px solid  ;
}